@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 62.5%;

    /* DARK MODE */
    --VeryDarkBlue: hsl(230, 17%, 14%);
    --VeryDarkBluePattern: hsl(232, 19%, 15%);
    --DarkDesaturatedBlue: hsl(228, 28%, 20%);
    --DesaturatedBlue: hsl(228, 34%, 66%);
    --White: hsl(0, 0%, 100%);
    --LetterColor: #8087ab;

    /* LIGHT MODE */
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --LightGrayishBlue: hsl(227, 47%, 96%);
    --DarkGrayishBlue: hsl(228, 12%, 44%);
    --VeryDarkBlue: hsl(230, 17%, 14%);
   

    --Green: hsl(137, 59%, 50%);
    --Red: hsl(0, 100%, 50%);
    --Toggle: linear-gradient(135deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
html {
    box-sizing: border-box;
}

/* Utilities */

/* Color VAR */
.text-darkGray {
    color: var (--DarkGrayishBlue);
}

.text-darkBlue {
    color: var(--VeryDarkBlue);
}
.text-darkBlue {
    color: var(--DarkDesaturatedBlue);
}
.text-desaturatedBlue {
    color: var(--DesaturatedBlue);
}
.text-white {
    color: var(--White);
}

.text-green {
    color: var(--Green);
}

.text-red {
    color: var(--Red);
}



/* FontSize */

.text-xs {
    font-size: 1.5rem;
}
.text-xl {
    font-size: 1.5rem;
}
.text-xxl {
    font-size: 3.8rem;
}

body {
    text-align: center;
}

body,
p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
    margin: auto;
}

.darkmode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin: 2.5rem 3rem;
    color: #8087ab;
}

#switch {
    width: 60px;
    height: 32px;
    border-radius: 20px;
    background: linear-gradient(135deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 2.4rem;
}


#switch:hover{
    opacity: 72%;
}

#switch .switch-button {
    width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #252b42;
	margin: 4px;
}

.social {
    padding: 1.6rem;
}
/* MOBILE */

body {
    background-color: var(--VeryDarkBlue);
}

.container {
    box-sizing: border-box;
    min-width: 375px;
    padding: 0 2.4rem;
}

header {
    margin: auto;
    margin-top: 6.5rem;
    background-color: #20222f;
    height: 29rem;
    max-width: 48rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main {
  position: absolute;
  top: 40rem;
  width: 96%;
}



.recountFollowers {
    padding: 1rem;
    color: var(--DarkGrayishBlue);
    display: flex;
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: #8087ab;
}

.card {
    background-color: #252b42;
    box-sizing: border-box;
    max-width: 330px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
}

.card-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.nameLink {
    color: #8087ab;
    margin-top: 2rem;
}

.number {
    margin-top: 1.6rem;
}

.today {
    padding: 2rem;
}

.title {
    letter-spacing: 5px;
    color: #8087ab;
}

.color-bar-blue {
    position: relative;
    background: #198ff3;
    /*
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    */
    width: 100%;
    top: 0;
    height: 5px;
  }

  .color-bar_gradient {
    position: relative;
    background: #93236b;
    /*
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    */
    width: 100%;
    top: 0;
    height: 5px;
  }

  .color-bar_red {
    position: relative;
    background: red;
    /*
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    */
    width: 100%;
    top: 0;
    height: 5px;
  }
  

  .separadora {
    position: relative;
    background-color: #2e303f;
    width: 80%;
    height: 1px;
    margin: auto 3rem;
  }

  h2 {
      font-size: 3rem;
      margin-top: 5rem;
      margin-bottom: 2rem;  
  }

  .secondCard {
    background-color: #252b42;
    box-sizing: border-box;
    max-width: 330px;
    height: 150px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 3rem;
  }

  .page {
      margin-bottom: 2em;
      color: var(--DarkGrayishBlue);      
  }

  .imgPercent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
  }

  .instaImg {
      height: 20px;
      width: 20px;
  }


  /* MEDIA QUERIES */

  @media screen and (min-width: 490px){
      main{
          top: 28rem;
      }
  }

  @media screen and (min-width: 960px){
     :root{
         font-size: 60%;
     }
     
     header {
        max-width: 100%;
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        height: 20rem;   
        padding: 5rem 5rem;   
     }

     .social {
         text-align: start;
     }

     .darkModeTitle{
         width: 10rem;
     }

     .darkmode {
         display: flex;
         flex-direction: row;
         justify-content: flex-end;
     }

     .separadora {
         display: none;
     }

     .titleFollowers {
         width: 100%;
         margin-top: 3rem;
         margin-left: 3rem;
}

     main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;
     }
     .card {
         margin: 2rem;
         width: 240px;
         height: 240px;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         overflow: hidden;
     }


     .overviewSeparador {
         width: 100%;
         display: flex;
         align-content: flex-start;
         margin-left: 9rem;
     }

     .secondCard {
         margin: 3rem;
         width: 300rem;
     }

     .bar{
         height: 1rem;
     }

  }